@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* globle */
:root{
    --theme-color-black:#212529;
    --theme-color-light-grey:#4e4e4e;
    --theme-color-green:#4A9D39;
    --theme-color-bluest:#027d86;
    --transition: all .7s ease;
}
body{
    font-size: 18px;
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--theme-color-black);
    font-family: 'Poppins', sans-serif;
    
}
a {
    color: var(--bs-white);
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 24px;
    color: var(--theme-color-green);
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}
p {
    margin: 0;
    color: var(--theme-color-light-grey);
    font-size: clamp(.5rem, 4vw + 1rem, 1rem);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
}
span{
    color: var(--theme-color-light-grey);
    font-size: 14px;
    /* line-height: 36px; */
    font-family: 'Montserrat', sans-serif;
}
/* .form-control:focus, */
.btn:focus{
    box-shadow: none;
    /* border: 0; */
}
.btn{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 25px;
    margin-top: 25px;
    border-radius: 6px;
    transition: all .5s ease-in-out;
}
.btn-green {
    color: var(--bs-white);
    background-color: var(--theme-color-green);
    border: 2px solid var(--theme-color-green);
}

.btn i{
    font-size: 20px;
    color: var(--bs-white);
    transition: all .5s ease-in-out;
}
.btn-green:focus,
.btn-green:hover ,.btn:hover i{
    background-color: transparent;
    color: var(--theme-color-green);
    transition: all .5s ease-in-out;    
}

img{
    max-width: 100%;
    height: auto;
}
button{
    border: 0;
}
.form-control:focus-visible,
button:focus-visible{
    outline: 0;
}
i{
    font-size: 60px;
    color: var(--theme-color-green);
}
.px-80{
    padding-block: 80px;
}
 /* Top header */
.top-header{
    background: rgb(68,157,56);
    background: linear-gradient(49deg, rgba(68,157,56,1) 30%, rgba(2,125,134,1) 80%);
}
.top-header .row{
    align-items: center;
    padding: 10px 0;
}
.top-header .contact-info{
    display: flex;
    width: 50%;
}
.contact-info ul,
.social-icon ul{
    display: flex;
    gap: 15px;
}
.contact-info ul li a{
    color: var(--bs-white);
    font-size: 16px;
}
.contact-info ul li a:hover,
.top-header .social-icon a:hover{
    color: var(--theme-color-black);
}
.top-header .social-icon{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.top-header .social-icon p,
.top-header .social-icon i{
    font-weight: 600;
    color: var(--bs-white);
    letter-spacing: 1px;
    
}
.contact-info i,
.top-header .social-icon i,
.bottom-header .btn i{
    color: var(--bs-white);
    font-size: clamp(.5rem, 4vw + 1rem, 1rem);
}
/* header  */
.bottom-header{
    background: #f5f5f5;   
    /* box-shadow: 0 0 10px 0px #afafaf; */
}
.bottom-header .navbar-brand img
{
    width: 100%;
    height: 50px;
}
#menu{
    display: none;
}
.nav-wrap {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .dropdown-menu li a {
    color: var(--theme-color-black);
    padding: 0;
    text-transform: capitalize;
}
.navbar-nav .active > .nav-link, 
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.show, 
.navbar-nav .show > .nav-link {
    color: var(--theme-color-bluest);
}
.navbar-nav .nav-item,
.navbar-nav .nav-item .dropdown-menu li{
    padding: 10px 20px;
}
.bottom-header .btn{
    margin-top: 0;
}
.bottom-header .btn i{
    font-size: 24px;
    margin-right: 5px;
}
.bottom-header .btn:focus i,
.bottom-header .btn:hover i{
    color: var(--theme-color-green);
}
/* Hero section */
.banner{
    /* background: url('../images/banner.jpg');
    background-size: cover; */
    width: 100%;
    height: 600px;
}
.banner .owl-carousel .owl-item img{
    height: 600px;
    filter: saturate(3);
}
.banner .card{
    background-color: rgba(0, 0, 0, 0.267);
    color: #fff;
    margin-top: 90px;
} 
.banner .owl-next{
    left: 85%;
    top: -300px;
    background-color: transparent;
}
.banner .owl-prev{
    top: -300px;
    left: 10%;
    background-color: transparent;
}
.banner span {
    font-size: 6rem;
    top: -140%;
    left: 0%;
}
/* Support Section */
.support {
    margin-top: -100px;
    padding-bottom: 80px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.support .card-wrap{
    height: 100%;
    padding: 40px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    transition: all .7s;
    background-color: var(--bs-white);
    box-shadow: 0 0 10px rgb(147 147 147 / 54%);
}
.support .card-wrap h4{
    margin: 30px 0 15px;
}
.support .card-wrap a,
.support .card-wrap a i{
    font-size: 20px;
    color: var(--theme-color-green);
}
.support .card-wrap:hover {
    transition: all .7s;
    box-shadow: none;
}
.support .card-wrap:hover i, 
.support .card-wrap:hover h4,
.support .card-wrap:hover p,
.support .card-wrap:hover a{
    color: var(--bs-white);
    transition: all .4s;
}
.support .card-wrap .overlay{
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 0 50% 50% 50%;
    top: -30px;
    left: -30px;
    z-index: -10;
    transition: all ease .7s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
    background-color: var(--theme-color-green);
}
.support .card-wrap:hover .overlay{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 0;
    transition: all ease .7s;
    background-color: var(--theme-color-green);
}
/* Our About  */
.about{
    padding-bottom: 80px;
    background-color: rgb(230, 230, 230);
    position: relative;
}
.about::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    top: 0;
    background-color: var(--bs-white);
}
.about .row{
    align-items: end;
}
.youtube-video-container {
    padding-top: 56.25%;
    height: 0px;
    position: relative;
}
.youtube-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.about-card {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-card-inner {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* our service */
.services .col-lg-4{
    margin-top: 25px;
}
.services .card-wrap{
    height: 100%;
    padding: 20px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 5px solid #4A9D39;
    border: 1px solid rgba(0, 0, 0, .125);
    position: relative;
}

.services .card-wrap .overlay{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    z-index: -10;
    transition: all ease .7s;
    background-color: var(--theme-color-green);
}
.services .card-wrap:hover i,
.services .card-wrap:hover h4,
.services .card-wrap:hover p{
    color: var(--bs-white);
    transition: all ease .9s;
}
.services .card-wrap:hover .overlay{
    height: 100%;
    transition: all ease .7s;
    background-color: var(--theme-color-green);
}
/* counter section */
.counter{
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
}
.counter .counter-card{
    color: var(--bs-white);
    text-align: center;
}
.counter .counter-card .count{
    font-size: 40px;
}
/* expert section */
.experts-card{
    position: relative;
}
.experts-img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.experts-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}
.experts-card:hover .experts-img img{
    transform: scale(1.2);
    transition: var(--transition);
}
.experts-card ul{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44bd329e;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
    position: absolute;
    transition: var(--transition);
    opacity: 0;
}
.experts-card ul li i{
    font-size: 30px;
    margin: 5px;
    color: var(--bs-white);
}
.experts-card:hover ul{
    opacity: 1;
    transition: var(--transition);
}

.experts .owl-carousel .owl-nav button,
.experts .owl-carousel button.owl-dot{ 
    height: 30px;
    width: 30px;
    margin-right: 10px;
    position: relative;
    left: 0%;
    top: 20px;
    background-color: var(--theme-color-green);
}

.experts span {
    font-size: 30px;
    color: var(--bs-white);
    line-height: 25px;
}

/* testimonial section */
.testimonial{
    color: var(--bs-white);
    text-align: center;
    background-color: var(--theme-color-green);
}
.testimonial .heading{
    position: relative;
    margin-bottom: 60px;
    display: inline-block;
}
.testimonial .heading::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -15px;
    width: 100%;
    height: 2px;
    background-color:#dcdde1;
}
.testimonial .heading::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: -15px;
    width: 20%;
    height: 3px;
    background-color:#027d86;
}

.testimonial .testi-card{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
    color: var(--bs-white);

}
.testimonial .testi-card .profile-pic {
    width: 150px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial .testi-card .profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.testimonial .testi-card .profile-info{
    width: 89%;
    color: var(--theme-color-black);
    padding: 25px;
    background-color: var(--bs-white);
    position: relative;
}
.testimonial .testi-card .profile-info::before {
    content: "";
    position: absolute;
    top: 40%;
    left: -10px;
    width: 30px;
    height: 30px;
    rotate: 45deg;
    background-color: var(--bs-white);
    clip-path: polygon(0% 0%, 230% 220%, 0 110%, 0% 80%);
}
/* latest news */
.news .news-card {
    text-align: center;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    transition: var(--transition);
}
.news .news-card .news-thumbnail{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.news .news-card .news-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news .news-card .news-content{
    padding: 25px 10px;
}
.news-content h4 a{
    color: var(--theme-color-black);
}
.news-content h4 a:hover{
    color: var(--theme-color-green);
}
.news .news-card:hover .news-thumbnail img{
    transform: scale(1.2);
    transition: var(--transition);
}
.owl-theme .owl-dots .owl-dot span{
    background-color:#4a9d3983;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color:var(--theme-color-green);
}
/* our partner section */
.partners{
    background-color: rgb(230, 230, 230);
}
.partners .row{
    align-items: center;
}
.partners .partners-card{
    height: 100%;
    padding-right: 10px;
    border-right: 5px solid #44bd32;
}
.partners .item {
    width: 100%;
    height: 139px;
}
/* footer section */
footer{
    padding: 60px 0;
    background-color: #181818;
}
footer h6{
    color: var(--bs-white);
}
a.f-logo {
    display: block;
    max-width: 175px;
    margin-bottom: 20px;
}
footer .widget-one .ftrplantext h6{
    font-size: 20px;
    color: var(--bs-white);
    margin-top: 15px;
}
footer p{
    margin-top: 5px;
    color: var(--bs-white);
    font-size: 16px;
}
footer ul{
    margin-top: 20px;
    font-size: 16px;
}
footer ul li{
    margin-bottom: 10px;
}
footer ul li a,
footer ul li span{
    color: var(--bs-white);
    display: inline-block;
}

footer ul li span{
    color:#7c7c7c;
    display: block;
}
footer a:hover{
    color: var(--theme-color-green);
}
